/*
 * Copyright (c) 2011 Martin Pieuchot - http://nolizard.org
 *
 * Availabe under Creative Commons 3.0 by License
 */

html, body {background: #99a0cc /*url("grid.png")*/;}

body {
  color: #fff;
  width: 908px;
  margin: 0 auto;
  padding: 0 18px;
  font-size: 12px;
  line-height: 18px;
  font-family:Verdana, Geneva, 'Bitstream Vera Sans', 'DejaVu Sans', sans-serif;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block; /* need for non HTML5-capable browsers */
}

* {margin: 0; padding: 0;}
p {margin-bottom: 17px;}

h1, h2, h3 {font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;}

a	{color: #ccd4ff; text-decoration: none;}
a:hover {color: #ffee5f;}

body > h1 {font-size: 36px; line-height: 54px; margin: 18px 0;}
body > h1:first-letter {
  float: left;
  display: block;
  padding: 4px 1px 0 0;
  line-height: 21px; /* Webkit hack */
  font-size: 72px;
  color: #ffee5f;
}

body > aside {clear: left; float: left; width: 216px;}
body > aside > p.email {display: block; margin-bottom: 17px;}
body > aside > p.email:hover:after {color: #ffee5f; content: " #spam";}

body > figure {
  display: inline-block;
  margin: 17px 0 0 70px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
body > figure > img {margin: 18px 18px 12px;}
body > figure > figcaption {
  color: #999;
  margin: 0 18px;
  line-height: 36px;
  text-align: right;
  font-style: italic;
}

body > footer {width: 100%; margin-top: 36px; font-size: 11px;}
body > footer > p {margin: 0;}
body > footer > p.about {float: right; line-height: 54px;}
body > footer > p.about > a {
  width: 50px;
  height: 43px;
  margin: 0 18px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -99999px;
  background: transparent /*url(puffyshape.png)*/ url("data:image/png;base64,\
  iVBORw0KGgoAAAANSUhEUgAAADIAAAArCAYAAAA65tviAAAABGdBTUEAALGPC/xhBQAAAAFzUkd\
  CAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0\
  dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAl2cEFnAAAAMgAAACsAKhDmxgAAB\
  RFJREFUaN7NmXuIVVUUxn9nZirHcVLLfGVUSmWJlIpYClFkKdmDIntIUNEfiSFYVNJbyLBAJAqT\
  QC1MYhKsSLKkMkujqDQoiHyVPXwm5aSOlc78+mOvYa7zvHde1w8O99zz2Get/e299lrfhm6Citp\
  XnRW/ndp+SScbWqGWxTlqqdpfLY3HKoHb4vfEdCRwN3BdnPcEhgCLgeHAJUBdvd/AMHW4OraenX\
  C+LDqkoA+XdcTq+FgFcBPwIbATmAZ8DowHfgWqgbFABpwCnA1cCfwOXB5Nfa1WAIeB8+L5Zd3mS\
  OAwMBo4E3gNeAlYGOfjgD3APUANcAXQA5gFnAQcBX4DLgQuBqqAKcDWQo3I2mt9sFEWBk0ijf1F\
  YcwAYH/cLwNObaWpauAdYBuwBXiExPCfwL/AsSxr28yCHMkZSrcAHwF/ATdHD1YBvYC+QGkh7Qb\
  +DnsORaf0A74A9uTjSHsme0301KNA/zBgTjjQr51OQGKtksTmy6RAMSTfl/NyJKJJb2AGMIjU+/\
  tJrEwGLgN6t9OB5my6CJhJYqgyvl+pXqX2afcalNPQm+oadZJ6vrrLrkOtul29XR2qVqlLw472d\
  1M4M0x9W92pLlIPdKEjqsfiW7vVFerAlpwoycP4cerwoLkc2Az0AaZ34nBqCaXAYOAgMJtWJn4+\
  68jpwFxgI/APMJG0ancnqolIqX6bTxQ7DsFIpo5Ut3XxMGoNR9QZaq92Da1AOTAC+KWbWchFD1K\
  or23pgRaHVnjemxTf18Xv+Gi0GHgYOAbMVWk8vNpiZCqwCniAlAOdXCQnIM3LmWFHE7Q12atISe\
  E84Kw8HO9q9CcN8/ca3yixYbG7QJ2tTlHreTsCrAfuJ63kxcYfpGyiKUzL/hvqvlhNd6tPqwPUc\
  vVedWPcKzbqTNnFgCbRS52gTlP3NnphtTo5GHu+2B40wpyw6zhH6o+p6p5GL+xS56lri215I/xo\
  c+lKjjN3qAeLbWUeOKTekOtICZAbk1fFcaKjglQ297S5ld6GDLeY6Ui+OKw+ETY3uy5sB14vdpf\
  ngZ4k+WkYNFOzB1XDgDX1D53AEPgA+LillXo78FbO/52kfKuO4qMW2Be/GTAGqG6SomRZVs/K4Z\
  zLy4ElwKekmr2Y+Jmkk40jJbVfAu/nU1jto4GNdutgnYS9wGPABmBDbgbcRLoJNsqBa4GvgAWk+\
  XIrqSY5CpzbzQ4cI2loi0lKJm1WiTYIyQNNajqmymy0qVp8rgihtkZ9yKSoNCtw5z1U4uWBwGek\
  eVJH61JoZ6EaWAq8Sxoh/9GMjFpofTEW+I4kaU4nyZtdjVJgLbAuy7KaLMua1YLzVhpJvX818Di\
  wGviGFJb30Eot3QHUArtJUtBdwCBbEeYKYaQUWEmD5H8N8CwwgbQodTb2AdeTtiyWRScWvAHUKi\
  IAjDH2Ak31gaa0v7oDk7pW3aouVLeoN9qQmVdGEOqCPmtw6hmTJnyOukDdpG628KpylzpKLTGVF\
  C+aqtQ27eiMHStIkeUVYAcp/1lJSnFWAUNJ86gi5/lTSdsRNaTtuCUkBX4kqS6vA1YAn5DWra5H\
  MDLaJPf3VO9UB8f1+eoOk1L5QrD1VPT+/Hhvk0nZP0N9tX44FYoOyztZlpFl2aYsyw5EeFyeZdm\
  uuH2IlKd9T9r8XE+auD+RJvMPcUwMJp4M9k4cBCP3qSPifFSwhvpgzvXecRTb5FYduVQ9LdfIlq\
  53FP8DmAB2hb88fb0AAAAldEVYdGNyZWF0ZS1kYXRlADIwMTEtMDEtMDZUMjA6NDc6NTArMDU6M\
  DBGTJt2AAAAJXRFWHRtb2RpZnktZGF0ZQAyMDExLTAxLTA2VDIwOjQ3OjQxKzA1OjAwcyDmaAAA\
  AABJRU5ErkJggg%3D%3D") no-repeat; 
}
body > footer > p.about > a:hover {
  background: transparent /*url(puffy.png)*/ url("data:image/png;base64,\
  iVBORw0KGgoAAAANSUhEUgAAADIAAAArCAYAAAA65tviAAAABmJLR0QAAAAAAAD5Q7t/AAAACXB\
  IWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAyAAAAKwAqEObGAAASqUlEQVRo3s2ZaXBd533ef2\
  df7rn7josdIACCIgkQ3CSSI5JKJFlW5GhGViTHqTOVY6XyuHHdLZlpky5u+qFTf3CbmWQmTrO0d\
  rwojSRaiyVK4iIuEheAG0AQG7EDF8C9uBd3P/ecfgA9lWw6liLFk+fjO3Pe93nOf33/L/xioQPP\
  AtYnvbH4Ce4lAClAft+aBDS+7xwduA/w/2MW4gK/Chx4nwgL+F2gGUgoshiMhY12r6mYQAvQekf\
  YT3JSPurh8kf94C6QgP3AFUkSRnwe9VnHdS+u56udgJOKe1LVmrM/vVbyeD2KcGBXYuvJ9xZ2Ua\
  z5REFQgb2O6757Z58KsAXoBH74UUl8bJi6/Ls+S00USvbxbV3hr/ksrWVppSgAR/p6Y80+r9avK\
  lL/4X2Nn/+tX7snnCtUB7K5ylavpfQEfKq8nq9eukN+WhD4bWAamPhFWERg05UEQA4G9NMNMeu5\
  1eziuVTC5z7z1I5/eW10JVco1oxcviKoiiQ/cLCZvt4YhirSvSXSNjK22vadF0eYnFlfXF2v/OF\
  GoXahpcFqjQa0x4ZGM/+7Zjv6HQu5/1AWUYGHgDRQBT6d36im7+mJfj4UNJ747K/0dj72cLd875\
  4mre+epJTJVcRtPTFcBCxLI1+wicct0qslDF0mGjKsX3+suycRMbYf2ZN8POBVV89dSZ8BDgKTd\
  8T8gwipA13AU6IgDLvQ4LW03+vZEml44FB7855djXK56nJrKkso5EFSJPq2J8kXaoxOZilV6jSm\
  AswtFejtijAyvsaTn+5iYFvUs21LSB0cWQ3emlrfUSzbNrAKzHzSQgxDl58wdbn8wrceP//8K6M\
  H9vY3fL250b/tK8/svX//7iZf95YomVwFSZZ49c0x9u9tpb01jGmqNCR9XBhcwAV6e+Ik4140TW\
  ZxuYCiypy/vMjO3igDvRGlWKolx27ntGLZ/g4QuiNIA/qBdaD2cYRoqbjna/v7G770whsTo9Nzu\
  Yu//YWB5/7gXx/uO3KoQ0QUMS2dgf5GLK/OwtIGG8UaXVuiiJJEoWRzezaLqso0NwXQdAVVkWhv\
  CfLdF4eJhAxaG/2cvjhPuWyLsoQvvVbuLVXqI5oqhSVR+Ld1x00Ap+94xd9PSCpu1WYWNibamgP\
  3HTnY+juCIO4a6Et17RloUs5fnqejPUoy6UPTFBRVJr1aBEHA9Ghouky5YhOPeWlpDiJKItdHlk\
  nEvVwdSVMq23R3htE0GY+hYJoKrQ0etX9rOOI6zo4tTdZX84XaXL5o/z5Q+Pu61m7Amy9UV4GWs\
  alsb73u7vracwe6BVFUVrJlJqeznDgzxbZtSUyPBgiIoshAfxNer8arb4yi6Qo9XTG8Xp2JqTXO\
  X5ylf2cKv0/D0GQURaK9OUAooDM1s05z0uLQroS+o9Ofun4rM/nOUPoZYPHjxEiHLIv/cVtXpF+\
  WREcQhUfyhWproWTzz764n86OCL29CRaWNlha3sDr1RmfWsOyNOIJH7Waw6XBOURRpLUlRN1xmZ\
  3PIUkiqQY/Ab8OLijKJhVZEvB7VQxNolars5at8D+/fSO9vlEtAQ6wwF1S8s8V0pzyTWfWy+MH9\
  jT+q9/5rX1f+s2nd6X+xXMHsCwdVxDpaI+gGyqWVycStujsiDB8c5mp2xmCAROvT6e1NUQo5MHQ\
  FWRFoiHpo7kpiKZulrH1XJnX3x7H59WIRy3mF/P8ybeHsEyF7V1BLt1I+29Orr8AvAbYd+P5c3u\
  t6bmcBEgvHx9/q1xxag/c30FjKsCTT+xkz+4mEEQmJtfI58r4/AZIEh3tEe67t41g0GT0VhpcaE\
  j5UVQZQRCo2Q5DVxcoV+ogihSKNj6fQXNTkLHb65y7vsqDj/RxfSpPzYFDu5OqKAqpv4vnz7OIL\
  ghYwHy97jYdPtj28L7dzeJb70zx2vExVFVGVWXsusNf/2CIgE8nFrEIhT14LR1BFJibXycW9ZLP\
  VRifWCEe81Iq1cjmyvh8Oh5TJRw2SSW9VCo2L758nSeeHKB/oJlCJs/Vq/M0JjxkC/V9/oDHWVj\
  Mv/ORXEsQALg36Nf/uLMtGAOh9fFHe/c1NQWFxlSQkbEV3j41gSAKJBJ+4jELu+7S1BhAVWUEad\
  PYwaAHj6VRKtdQFAmvdzOLJRJ+DE2mUKxSqdQIBUz+77HrDF2YplgxeOPtBZaW4JW3hmlLeTD9P\
  jkSNvsvDM4NWh5lrFpzPpJFljVVsttbAl9+7OGeRwIBU8htVEk1+Dl4sB1FkejpitPWEcFraciy\
  RDTqRQBmZ7OIoojH0ijkK6ysFGhqCiCKAsVijY18Bd2QuXJtAdt2CIdMZucyDM9E+I1n/guGp43\
  xmSK6bpAM5Dg16DA1V9dvz8yNypJ4omZ/UMiPY8QjCsJ9oih8ThSFe/n/9wFjPV+5eOLs9H967e\
  3x9ZamAA8e3YLPp7O2WmT3QBO6oVAr1zBNlfHJVbLrJRBgeiZLsVgFQcC2HQqFCq6zaepcvkJ2v\
  YQoivTvTNHWGsZxXKIRi2Ixi+uCYejMTN+moSFB1Xa4emMCjzdc9nisc1VbuGuMHFFk8Q+/8Gjb\
  f3j6odanj+5LPh4KGvHJufzVmu3YwGHgn3R3RHpKZVuIxbycPDtFJltGkUVefnWEcsWmpTlEPOr\
  FMBVkWSSZ9KFrCpVyDa9PIxq1kEQBp+5imgrhiAfcTRcWxU1iddvBZ1Y5d/YtcgWB3/ynz3Li+A\
  t0JEpgbqV3a488cuWsmclVjgsCpZ8U0uI47nxDxOjf3RuOHNnXYAxsT+yr2O7BKzfXLoWD+kvlS\
  j3+B//myEPPfH43dVegXKmTTPiJx73U6y5+n05jKoBuKMh3YkOUBFwXHNdFliUya0UMQ6FStSmX\
  bSRJZD1XwtAValWbWq1OKGiwtSvCzm6T5blr/Pdv/oCWyBqHdif4yx9cRLVneGhvqOfSSGa+vzt\
  4fmap+AEht3vb/Vcv38xcceFoc9IKhIKmcN/uVKMoS0fGp3NmImo9+cRj2xoScR/rG1X2720lEv\
  ZgeXXa2iIE/AaSJGLX60iSxOJSnny+gj9g4NQdBARMj4ogCCiyhKbLOI6LU3dQVZlKxaZWreO6m\
  2uiINCc9DA4OMyDB1NMLmTp220SS8hk0hWhVLJjpwfTf8v72hUJIJ2p8NRDrbdfOjmXbU1Zv7x/\
  Z1wNhjzsG2gMHj7Q9sCnH+xuWMuWOX5ygmKpRktLCFmRuXZjkVjEg6arLC7lGJ9YJZn0U63aOI6\
  LoctcvDxLJGxSrdqsrhXx+nRKxRqlUg2/XwfXRZZFNFViejrD8M0lGuIWIi5T0xly+RJt2wyOHk\
  nR2xtidq4ApXrk3eur52VJGHHcn8haV25lqdnOjfl0KRnwaXsSMYtw0ENjyk8qFSAW9dLfl0JRZ\
  XRdYXhkmXyhSkdnDMdxkCUR01RxXRdFlfB5NRzHxefT0bRNl9NUGUWVyGZLFAoV/H6duu1slgXX\
  3bxuSgJ+z2Zs/cX3hwjGBVIpk8HBFbyWwrunF2mJGNLpwfRcqVJ/k8225YNXXVkSq2PTuW+cuLB\
  w9IGDzd2u62DbDrg2mioyOZuloz3KzfFVBq8u0tIc5PKlGTymiuXTaWgMsDi/zvN/M4TXUtkoVB\
  EF8Bsij/1qPx6fCS5EIx4QPMzPZSkUKnS0hnBc8FoqEiaiKDBya4VLVxc5dP8uXn19hUKhyPn3V\
  mjRJEI+FUOXv1SpOfOlsS9/Q2j65gfriOO6fP2re9d+eGLa2tIa+KVYxINpalRsl9dPTrGa3azG\
  r74xSkdbmEDAQFVl3jo5ht+rk4x5+aM/eQddFXj6yV1s7Y4RDyhsLKbJV6AhFWJ4eBFdldA0Gdd\
  xMTQF13FZXs5jGjIb+TI4Di+9dhPbrvPEE/fw1GfvwTA0YlEfpdUNqtU63dtbtK7uRNujv/H8y5\
  omZ36qIL51fo5srpouFGuP9fdG/fGYxdRsnj/6XxeIhDxs35Yg6DfZu6eZnp4EAb9BterQ2Rlld\
  a3I2XfGePaL9+ELetAMlZFbK9iKzo6dzXg8Kq7jbv75O1nN0CUWFnKcOz9FV0cYXZX40Vu3iAY1\
  9u1IMLtS4J7tcaIRE9NSOXNykoWlIg98agd79raHzp+f3Dq/mI/9VNPobgbP2OhU9q21bIlSqcq\
  xH41OTUxnX+7fHmd5Oc+Zd29Trdg4dp25uSyFYhXHcfj+d85xqC+MXalSKlZ5/fUR5hbzBEIWqi\
  ZTrztEoxaqKjM2scL3/2aQ3HqZxqSXXzrcgQisrRUQcbm3v4HmhIfrV5fIb1TwBAxmp9dZWSu5b\
  19cXjn2wmDt+CtDgs8QDwDWXcdBlqnUF5aLF66Prn4hHDI5e3HupeHR9F+ceXdmIJurxA1TZXYu\
  i67LnDw9QUd7hJeOXWP61hy1TIb0eo10rk61Ds89e4C67WBXbf729RGOHu4k6DcI+g3CQRNVEam\
  UN1sWyanjt1Tu398E9RrruTKnT0+jmwpNKS/vnZliaGRt+OLI2leuT2S9hiZ71wu1eeDsXXutmu\
  1Sd9ymsF9/4tSF+fFXT079e2Dl0pWFp1fXSqFnv7CH3f0pXjt+i7Vskb4dDezb00JTR5KSq3Bha\
  AHDVPn853bj9+mIkoiqylQrNZob/YCLIot0tIUol6pcHpplejqD11TQZLg1lmZ5Oc/Y5Bq7eoKY\
  To38YpYzF5eGTw+ln21PWSeWM5Wb5Wr9iusyCdg/q2n0Aw/fnMqOjE5m/53rcgV4plKtr/zy/e2\
  eZz7XH1MUcbPbTQW4pzcBwNRMhkc+1UtD0o9pqvT2xMlmS5w7P4XXUunpjrGyUuDa9UXW1gokYx\
  5kScCjy5w8M4nHkFhcyjF5O8PcQo7tnX4aIjo3bq26Pzw1V3793cWve03l+bl06acI/ywhLjDou\
  rzguswDgTtV9Fu59dJev6XuHNjZwOjYCooikohZFEs1Lg/NUSpVMXSFxgY/0bAHTZN4+9Q4yYSX\
  SNBAFOHs+SlkUSAR8+DYNktLOba0BhBch84mH4WNMm+cvk1jVOfitWVOvLdQ/9HZhW/UHbdSrtZ\
  ngdyHFVLng+PKkiQKs65L6FP7kl+9NbYaXi/Vq8OjaWV3XwPvnLtNLlfm9Nnb7OlP0dsdRZJEhq\
  7MEwkZxKMemlN+SsUqqiySSljEIyYzMxlmZrOkl/M0JSySYZ18vkQ2W2BnVxCnZjN0c3Xjr45N/\
  JnjcsF1+T6b083yhxXyU9BUCUkSPyOLQv/SavHL3zs2cqal0X90PVdWBaBvWxz/nWoeDm0G8ZVr\
  Cywvb+A4Do1JL5eH5lhbKzI6lqajOUDQqzI5tcrY5CrxkEaxUEZXXM68N8+2Ni+353K8cHy6ksn\
  Vfr9UqR+7I6B8N34fWohddz31uvv4cqb836oOZ7weVWuIW4+8cXIy85mHuwPbe2JCY9LH6bO3aU\
  n5WFzMkV4pMHhlnn39KTy6jCzCmyfHceoObY0+JMGlWCjz9pkpAh6Z5XSe8akMugwn35uv/+nzo\
  yOyKFZK1fpArlA7z+a8mY8lhM3h9bjrMtLTGWJ+ceOL88sbZ8emMr93bWS5w3WcrkTU5LU3x/B7\
  VUZG0zQnfeTzFXIbZRIRk9vTGa7eWEKRYHEpT9ivcOKdKbZ3hahVaxzoi/K9l29x/dYa715N37h\
  wY/Uzy5nyn26U7ILjuIeB9/gZQ+2PIqQGZAAW0wWhZjviRqH2ct+W4HypUAmnF7KPfPvFkdmJqY\
  zg0WVtR0+Enb1RtnaGuDQ0T6FQ4eqNRQKWgt+jYGgik1Nr5HJlDvTFiPgVRsZWOXVhcfTYiZlv6\
  6rYUazUz+maNFQo2ZeBy2wmHOdu5D7OQ88kUHr0YCMLq+Vf8Zqy/+TFhV9ra/IFFpY2vKMTq9NL\
  yxsxVRaEWxNrXBicx1BFHjncQnPSQ8CSOfbGBOVSlZmFHC8en+KPvzs8durS0lP/9cs7/+ylU3O\
  uIAiPZfO11+78xB8P6O4K4cOy/jsg6Kr0P2RJeGejZP91LGx813F4YyVTej0W1F+JhIyuYtUZDP\
  rUxo5mv7alJSAIuN65pY2NS9fTi+0pK/zDU7Pf2tkROOo1Fd/bl5cOi4Iwp6mi5rhuZ6XqjPMzA\
  vyThgb8OptFVBZF4bOiIDQCwtGBxPcO9cUmgG7LVP7cNOT/bBnyP3/m0Q53Z2fwzyVJ2NvXHRyO\
  BLR9ibCxpTXpeVVVxAdV+aO/0X4Sb4h1YJg7pnddbriQe+7xLq6MZ/pzG7Vr+7ZFvndjcr29Zjt\
  XXHgzETYeLZbt/zOXLr1i19295Wp9tlytn1nNVS/bdbet7rjXfxEW+FBQZBFRFL4iicIhaXNKkg\
  R8gGDq8jc1VTqiKuKP14Pv+3RznP+PDM13yP8kHgK2f5IH/T8jU/474q/lAQAAACV0RVh0Y3JlY\
  XRlLWRhdGUAMjAxMS0wMi0wMVQxNjo1MTozMCswNTowMM6YuawAAAAldEVYdG1vZGlmeS1kYXRl\
  ADIwMTEtMDItMDFUMTY6NTE6MzArMDU6MDCRKc+YAAAAAElFTkSuQmCC") no-repeat;
}
